# Module 4: Data Wrangling Part 1
## How to Clean and Manipulate your Data in R
## Hawken Hass
## University of North Carolina Wilmington

# Cleaning Your Data
Cleaning your data is an essential part of data analysis. Before you can run any analysis your data must be structured in a certain way. This will ensure that your analyses will run smoothly in any program. First, let's take a look at some messy data. This data file summarizes average monthly rainfall between the years of 2001 and 2019 in two different lakes: Lake Victoria and Lake Simiyu.

In [ ]:
library(readxl)
read_excel("messy-data.xlsx")

You can see there are a few things wrong with this data set.

- The column headers are not accurate
- There is no data in row one
- The headers are in row two
- The month and period columns are combined into one column
- The total rainfall for each lake is rounded to different decimal points in some rows
- Some rows have characters (mm) while others do not
- The data is in wide format

Clearly this data set needs some serious tidying. But first, what does a tidy data set look like?

## Tidy Data

A tidy data set has two key features:

- Each variable is saved in its own column 
- Each variable is saved in its own row

This structure is specifically called long format, in which each observation has its own row. For example, in our data set there are 12 observations of rainfall for each lake. Therefore, we need 24 rows in our data set. Additionally, each variable needs to be saved in its own column. Thus, we need to create a column that denotes which group (Lake Victoria or Lake Simiyu) each observation belongs to. The data frame below shows what this data will look like once it is cleaned.

In [ ]:
read.table("clean_data.txt")

This looks much better! You'll notice all rainfall observations are in one column and each observation has its own row. Additionally, we have a column denoting group membership. This data is ready for analysis. So how did I get here? We are going to use a package called "tidyr".

## Cleaning using the tidyr package
First, I am going to read in my data and activate the tidyr package.

In [ ]:
library(tidyr)
messy_data<-read_excel("messy-data.xlsx")
print(messy_data)

The first step I am going to take is to separate the Month and Period column. If you'll notice, the month and period are both in one column, and separated by a comma. It is important that in your data set all variables have their own column. Thus, we are going to use the separate function to separate this column into two.

In [ ]:
messy_data<-separate(messy_data, "Seasonal rainfall in Lake Victoria and Simiyu", c("Month", "Period"), ",")
print(messy_data)

The separate function uses the following arguments:
- The first argument is your data file
- The second argument is the new names of the new columns you want to create in a vector format
- The third argument is how the two values are separate in the current column, in this case it is a comma

 Next, we are going to change the names of the columns to refelct more accurate names. This function will get rid of the "..2" and "..3" in columns 3 and 4. First, we are going to create a vector of all of our column names. Then assign these column names to our data file using the names function.

In [ ]:
varname<-c("Month", "Period", "Victoria", "Simiyu")
names(messy_data)<-varname
print(messy_data)

The next step is to delete any missing data.

In [ ]:
messy_data<-na.omit(messy_data)
print(messy_data)

We also want to delete Row 1 because this row was the names of the columns in the excel file.

In [ ]:
messy_data<-messy_data[-c(1),]
print(messy_data)

The '-c' denotes that you want to delete a column or a row. If you wanted to delete mulitple rows you could type:

```{r}
[-c(1,2,3,4),]
```
The argument after the comma represents columns. If you wanted to delete column 1 you could type:

```{r}
[, -c(1)]
```

Next, we want to convert our data to the long format. In this case we want a column that denotes which lake the data point is from, and a column denoting how much rainfall. We want to make sure each group is paired with the correct data point. For this, we are going to be using the gather function.

In [ ]:
messy_data<-gather(messy_data, key="Lake", value="Rainfall_mm", 3:4)
print(messy_data)

The gather function uses the following arguments:

- The first argument is the data frame name
- The second argument is the new name of the column you want to create for the grouping variable. I chose "Lake" because I want to take the names of each lake and repeat it in the column twelve times; the number of observations of rainfall for that lake.
- The third argument is the name of the column for the value you want to pair with the grouping variable. I chose "Rainfall_mm" because that is the observation or data point I want to pair with each grouping variable.
- The final argument is the range of columns you want to turn into key-value pairs

Let's now remove some unnecessary characters.

In [ ]:
messy_data$Rainfall_mm<-gsub('mm', '',messy_data$Rainfall_mm)
messy_data$Rainfall_mm<-as.numeric(messy_data$Rainfall_mm)
print(messy_data)

The gsub function uses the following arguments:

- The first argument is the string of characters you want to remove from each data point. I want to remove the "mm: off the end data points that have it
- The second argument denotes what you want to replace the "mm" character string with. In this case I put a space because I don't want anything to replace it
- The final argument is the column you want to apply this function to

When using the gsub function, the column is automatically converted to a character variable. Use the as.numeric function to convert the column back to a numeric variable.

Finally, let's ensure that all observations in the rainfall column are rounded to the same decimal point.

In [ ]:
messy_data[,'Rainfall_mm']=round(messy_data[,'Rainfall_mm'],2)
print(messy_data)

Our data is clean now! Let's rename it "clean data"

In [ ]:
clean_data<-messy_data

To save it as new data file, use the write.table function. This will save the new version of your data file to your computer.

In [ ]:
write.table(clean_data, file = "clean_data.txt")
read.table("clean_data.txt")

## Other Tidy R Functions

The above functions only scratch the surface of the tidyr package. The reshape functions mentioned above have their reverse counterparts. For example, if you want to spread rows across columns, you will want to use the spread function. For example, if you want two columns for rainfall in each lake, you would use the following code.

In [ ]:
wide_data<-spread(clean_data, "Lake", "Rainfall_mm")
print(wide_data)

Like before, we used the separate function to separate the Month and Period columns, but you can reunite these columns using the unite function.

In [ ]:
wide_data<-unite(clean_data,col="Month,Period",c("Month", "Period"), sep=",")
print(wide_data)

In Part 2 we will discuss how to manipulate your data using the dplyr package!